body {
  font-family: "Gentium Book Basic", serif;
  padding-top: 30px;
}
.card-img {
  width: 200px;
  float: left;
  padding-top: 20px;
}
.card {
  margin-left: 17px;
}

.jumbotron {
  position: relative;
}

footer {
  height: 25px;
}

.container {
  padding-top: 30px;
  padding-bottom: 3px;
}

p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}
