.button {
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.button2 {
  background-color: lightgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#length {
  margin-right: 130px;
}
h1 {
  padding-bottom: 60px;
  text-align: center;
}
div.card-body {
  border: dotted;
}
.content {
  text-align: center;
}
h5 {
  text-align: center;
}
.previous_passwords {
  margin-bottom: 30px;
}
